body{
    background-color: lightgray;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    background-image: url(/img/warehouse.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

header{
    background-color: salmon;
    font-family: "Inter", sans-serif;
}

.header--principal{
    background-color: white;
}

footer{
    background-color: orange;
}

h1{
    font-size: 3rem;
}

h2{
    font-weight: bolder;
    font-size: 2rem;
}