body {
    background-image: url(/img/warehouse.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;

    background-color: rgba(192, 224, 255, 0.75);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Inter", sans-serif;
}

.header-principal {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;
    padding: 10px;
    gap: 20px;
}

footer {
    background-color: orange;

    font-family: "Open Sans", sans-serif;
    font-style: italic;

    margin-left: 20px;
    margin-right: 20px;

    padding-left: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: bolder;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
}

.item {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.videocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
    padding: 20px;
}

.return-link {
    display: flex;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
}

.item__name {
    font-weight: bolder;
}

.parrafo {
    display: flex;
    background-color: whitesmoke;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;

    margin: 20px;
    padding: 10px;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-size: larger;
    font-weight: bold;

    background-color: orange;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
    margin-bottom: 4px;

    padding-left: 10px;
}

.rese単as {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .rese単as {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    .rese単as {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .rese単as {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    opacity: 0.5;

    background-color: white;
    padding: 20px;

    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
}

.card:hover {
    opacity: 1;

    translate: -4px -4px;
    transition: translate 250ms ease-in-out;

    border: 1px solid rgb(204, 204, 204);
    box-shadow: 4px 4px 2px rgba(128, 128, 128, 0.75);
}

#opinion-cuerpo {
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}

#opinion-firma {
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: bolder;

    text-align: right;
}

.formulario {
    margin-left: 3%;
    margin-right: 3%;
}

@media (min-width: 992px){
    .formulario {
        margin-left: 5%;
        margin-right: 25%;
    }
}

form {
    padding: 20px;
    padding-top: 40px;
}

input[name] {
    font-family: "Open Sans", sans-serif;
}

label{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.form-item {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;

    margin-bottom: 20px;
}

/* input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;

    margin-bottom: 20px;
} */

/* @media (min-width 992px) {
    
} */

/* textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;

    margin-bottom: 20px;
} */